*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body{
    background-color: #043697;
    font-family: 'Libre Franklin',sans-serif;
    overflow: auto;
    
}
img{
    display: block;
    width: 100%;
}

a,p{
    text-decoration: none;
    font-family: 'Libre Franklin',sans-serif;
    color: black;
}
.wrapper{
    display: flex;
   
}
header{
    position: sticky;
    top: 0;
    background-color: #001DB5;
    z-index: 100;
}
.stickynav{
    position: sticky;
    top: 5.944375rem;
    margin-bottom: 0.3rem;
    z-index: 100;
}
.left-container{
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-container a img{
    width: 3rem;
    display: inline;
    vertical-align: middle;
    margin-inline: 0.5rem;
    rotate: 20deg;
}
.left-container> a{
    
   font-family: 'Jaldi';
   text-transform: uppercase;
   font-size: 2rem;
   font-weight: bold;
   color: white;
   
}
 .left-container .quote{
    font-size: 1.5rem;
    letter-spacing: 1px;
    
}
.middle-container{
    align-items: center;
    flex: 1;
    justify-content: center;
}
.searchform{
   
    min-width: 3rem;
    max-width: 30rem;
    flex: 1;
    display: flex;
    align-items: center;
    height: 55%;
   
    border-radius: 3rem;
    overflow: hidden;
}
.searchform:focus-within{
    outline: solid yellow 0.5rem;
    outline-offset: -1px;
}
.middle-container input{
    height: 100%;
    width: 90%;
    padding-left: 0.5rem;
    font-size: 1rem;
}
.middle-container button{
    background-image: url('images/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
    width: 10%;
    padding: 1rem;
    height: 100%;
    cursor: pointer;
}
.myaccount-container{
        align-items: center;
        
        justify-content: center;
        width: 15rem;
        font-size: 2rem;
}
.myaccount-container a{
    color: white;
    font-weight: bold;

}
.navList{
    list-style-type: none;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 0.5rem;
}
.navList li{
    flex: 1;
}
.navList a {
    display: block;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    border-right: 0.2em solid black;
    font-size: 1.3rem;
}
.navList a:hover{
    background-color: rgb(187, 187, 187);
    color: white;
}
.navList li:first-child{
    border-left: 0.2em solid black;
}
@media (max-width:811px) {
    :root{
        font-size: 8px;
    }
    .navList li:last-child{
        display: none;
    }
}
@media (max-width:396px) {
    .myaccount-container{
        display: none;
    }

    .searchform{
        max-width: 11rem;
        margin-right: auto;  
    }
   .navList li:nth-last-child(2){
        display: none;
    }
  

    .flash-sales > p{
        font-size: 2rem;
    }
    .item{
        min-width: 12rem;
        height: 15rem;
    }
    .info{
        font-size: 1rem;
    }
    .name{
        font-size: 1rem;
    }

}
