
.carousell-container{
    flex-direction: column;
    position: relative;
    box-shadow: 0.1rem 0.2rem 1rem rgb(0, 0, 0);
    margin: 0.5rem;
}
.image-container{
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

}   
.image-container  img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.image-container::-webkit-scrollbar{
    display: none;
  
}

.slider-container{
    position: absolute;
    top:90%;
    align-self: center;
    gap: 2rem;
}
.indicator{
    
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 2rem;
    cursor: pointer;
  
}
.main-container{
    position: relative;
}
.flash-sales-container{
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    margin:5rem 10rem;
    
}
.flash-sales-container > p{
    font-size: 2rem;
    margin: 1.5rem;
    font-weight: 700;
}
.item-container{
    flex: 1 ;
    gap: 2rem;
    
    margin: 1rem 3rem;
    padding: 2rem 1rem;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.item-container::-webkit-scrollbar{
    display: none;
}
.item{
    flex: 1 0 100%;
    max-width: 13.9rem;
    height: 21.5rem;
    flex-direction: column;
    background-color: rgb(203, 203, 7);
    padding: 0.5rem;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.1em 0.1em 0.5rem  black;
    cursor: pointer;
    scroll-snap-align: end;
}
.item-info{

    flex-direction: column;
    gap: 0.5rem;
}
.movement-button{
    position: absolute;
    font-size: 3rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
    background-color: red;
    color: white;
    font-weight: 700;
    cursor: pointer;

}
.movement-button:hover{
    background-color: rgb(179, 25, 25);
}
.movement-button:active{
    background-color: rgb(252, 173, 173);
    

}
#backButton,#nextButton{
    top: 50%;
}
#nextButton{
    right: 3%;
}
#backButton{
    left: 3%;
}
.product-name{
    font-weight: 900;
    font-size: 1.5rem;
}
.product-price{
    font-weight: 900;
    font-size: 1.5rem;
}
button{
    cursor: pointer;
}

@media  (max-width: 977px){
    :root{
        font-size: 10px;
    }
    .search-form{
        padding: 0;
    }
    .left-header{
        min-width: 15rem;
    }

}
@media  (min-width: 2000px){
    :root{
        font-size: 25px;
    }
    .sticky-nav{
        top: 6.7rem;
    }
    .header{
        background-color: green;
    }
    

}
@media  (max-width: 500px){
    :root{
        font-size: 7px;
    }
    .left-header{
        min-width: 10rem;
    }

    .right-header{
        min-width: 5rem;
    
    }
}
@media (max-width:450px) {

    .left-header{
        min-width: 5rem;
    }
    .middle-header{
        max-width: 1rem;
    }
    .right-header{
      display: none;
    }
    .right-header>a:last-child{
        display: none;
    }
    .right-header>a{
        font-size: 0.9rem;
    }
    .flash-sales-container{
        margin: 5rem;
    }
    #searchInput{
        display: none;
    }
    #searchButton{
        width: 100%;
    }
    .flash-sales-container{
        margin: 5rem 1rem;
    }
    .flash-sales-container > p{
        margin: 1rem;
    }
    .item-container{
        padding: 1rem;
        margin: 1rem;
      
    }
    .item{
        max-width: 13rem;    
    }

    .movement-button{
        display: none;
    }
    .navigation>li:last-child,.navigation>li:nth-last-child(2){
        display: none;
    }
    .carousell-container{
        box-shadow: none;
    }
    .image-container>img{
        height: 25rem;
        object-fit: contain;
    }
}
input{
    outline: none;
}