body{
    display: flex;
    flex-direction: column;
}
body::-webkit-scrollbar{
    display: none;
}
.wrapper{
    align-items: center;
    padding: 1.5rem;
    gap: 0.5rem;
 
}
.image-container{
    max-width: 45rem;
    height: 35rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 182, 182);
    border-radius: 0.5rem;
    gap: 1rem;
    padding-inline: 1rem;
}
#productImage{
    width: 30rem;
}
.image-container img{
    object-fit: contain;
}
.other-image-container{
    flex-direction: column;
    width: 15%;
    gap: 0.5rem;
    justify-self: flex-start;
}
.product-info-container{
    height: 39rem;
    background-color: white;
    flex: 1;
    border-radius: 0.5rem;
    padding: 2rem;
    overflow: auto;
    position: sticky;
    flex-direction: column;
    gap: 0.3rem;
}

.info-part-container{
    border-bottom: 0.1rem solid black;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
}
#creator{
    font-size: 1.5rem;
    color: red;
    font-weight: 700;
    
}
.social-container{
    align-items: center;

}
.social-icon-container{
    max-width: 7rem;
    list-style-type: none;
    gap: 0.5rem;
    align-items: center;

}
#productName{
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
#stockId{
    flex: 1;
}
.reviews-container{
    align-items:flex-end;
}

label{
    display: inline-block;
}
.button{
    font-size: 2rem;
    padding: 0.5rem;
}
/* 
@media(max-width:800px){
    :root{
        font-size: 12px;
    }
    .image-container{
        width: 15rem;

    }
    #productImage{
        width: 13rem;
    }
    .wrapper{
        flex-direction: column-reverse;
    }
}
@media(max-width:400px){
    :root{
        font-size: 8px;
    }
    .image-container{
        width: 15rem;
        
    }
    #productImage{
        width: 13rem;
    }
 
} */
@media  (max-width: 977px){
    :root{
        font-size: 10px;
    }
    .search-form{
        padding: 0;
    }
    .left-header{
        min-width: 15rem;
    }
    .wrapper{
        flex-direction: column-reverse;
    }

}
@media  (min-width: 2000px){
    :root{
        font-size: 25px;
    }
    .sticky-nav{
        top: 6.7rem;
    }
    .header{
        background-color: green;
    }
    

}
@media  (max-width: 500px){
    :root{
        font-size: 7px;
    }
    .left-header{
        min-width: 10rem;
    }

    .right-header{
        min-width: 5rem;
    
    }
    .wrapper{
        flex-direction: column-reverse;
    }
}
@media (max-width:450px) {

    .left-header{
        min-width: 5rem;
    }
    .middle-header{
        max-width: 1rem;
    }
    .right-header{
      display: none;
    }
    .right-header>a:last-child{
        display: none;
    }
    .right-header>a{
        font-size: 0.9rem;
    }
    .flash-sales-container{
        margin: 5rem;
    }
    #searchInput{
        display: none;
    }
    #searchButton{
        width: 100%;
    }
    .flash-sales-container{
        margin: 5rem 1rem;
    }
    .flash-sales-container > p{
        margin: 1rem;
    }
    .item-container{
        padding: 1rem;
        margin: 1rem;
      
    }
    .item{
        max-width: 13rem;    
    }

    .movement-button{
        display: none;
    }
    .navigation>li:last-child,.navigation>li:nth-last-child(2){
        display: none;
    }
    .carousell-container{
        box-shadow: none;
    }
    .image-container>img{
        height: 25rem;
        object-fit: contain;
    }
    .wrapper{
        flex-direction: column-reverse;
    }
}