/* Jaldi For Logo */


.image-container{
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
}
.image-container::-webkit-scrollbar {
    display: none;
}
.image-container> img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
 
}
.flash-sales{
    margin: 3rem 2rem;
    background-color: rgb(131, 131, 131);
    padding: 1rem;
    border-radius: 1rem;
   
  
}
.flash-sales > p{
    margin: 1rem;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

.item-sales{
    gap: 1rem;
    overflow: auto;
    border-radius: 1.5rem;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
}
.item-sales::-webkit-scrollbar{
    display: none;
}
.item{
    min-width: 21.5rem;
    height: 26rem;
    background-color: yellow;
    overflow:hidden;
    border-radius: 1rem;
    cursor: pointer;
    scroll-snap-align: start;
    
    
}
.item >img{
    padding: 0.5rem;
    border-radius: 1rem;
}
.info{
    padding-inline: 0.5rem;
}
.name{
    font-size: 2rem;
    font-weight: bold;
    
}
.relative-container{
    position: relative;
}
.action-button{
    position: absolute;
    padding:  0.5rem 1rem;
    top:50%;
    margin-inline: 1rem;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50rem;
    background-color: red;
    color: white;
    font-weight: bold;
}
#nextBtn{
    right: 1rem;
}
/* Media Queries */

/* 


@media (max-width: 811px){
    .left-container{
        width: 20rem;
    }
    .left-container a{
        font-size: 1.5rem;
    }
    .middle-container{
        justify-content: center;
        align-items: center;
    }
    .myaccount-container{
        display: none;
    }
    .navList a{
        font-size: 0.8rem;
        
    }

    .item{
        min-width: 10rem;
        height: 15rem;
    }
    
    
    
}
@media (max-width: 499px){
    .left-container{
        width: 15rem;
    }
    .left-container a,.left-container .quote{
        font-size: 1rem;
    }
    .middle-container{
        justify-content: center;
        align-items: center;
    }
    .myaccount-container{
        display: none;
    }
    .navList a{
        font-size: 0.8rem;
        
    }
    .navList li:last-child, .navList li:nth-child(6){
        display: none;
    
}
    .item{
        min-width: 3rem;
        height: 8rem;
        border-radius: 0.5rem;
    }
    .item *{
        font-size: 0.4rem;
        color: green;
    }
    .flash-sales >p{
        font-size: 2rem;
    }
    .item-sales{
        border-radius: 0.5rem;
      
    }
    .flash-sales{
        margin-inline: 1rem;
    }

    .action-button{
        padding:0.3rem ;
    }
    
    
    
}
 */
